<article class="case u-flex">
  <div class="case__column" data-toggle="column">
    <div class="case__info">
      <header class="case__header">
        <div class="case__heading">
          <h1 class="case__title headline headline--inline">{{name}}</h1>
          <h2 class="case__subtitle headline headline--inline">{{{headline}}}</h2>
        </div>
        <ul class="case__details u-flex">
          <li>2014</li>
          <li>Design / Development</li>
        </ul>
      </header>
      <div>{{{summary}}}</div>
    </div>

    <a class="case__button case__button--next button button--link" href="/">
      <span class="button__text">Next project</span>
    </a>
  </div>

  <div class="gallery" role="button" aria-label="Open gallery" aria-pressed="false" tabindex="0" data-toggle-trigger="gallery-content" data-gallery="case">
    <div class="gallery__header">
      <picture class="gallery__hero lazyLoader">
        <img class="lazyLoader__image" data-src="{{hero}}" alt="{{headline}}">
      </picture>
      <div class="gallery__indicator">Open gallery +</div>
    </div>

    <div class="gallery__content" aria-hidden="true" data-toggle="gallery-content">
      {{#each content}}
      {{!-- If video etc. --}}
      <picture class="gallery__item" data-reveal="scale">
        <source media="(min-width: 600px)" srcset="{{src}}">
        <img src="{{srcMd}}" alt="{{name}}">
      </picture>
      {{/each}}
    </div>
  </div>
</article>