<article class="case">
  <header class="case__header grid">
    <div class="grid__cell grid__cell--12">
      <h1 class="case__title grid__heading grid__heading--l">{{name}}</h1>
      <h2 class="case__subtitle grid__heading grid__heading--l">{{headline}}</h2>
    </div>
    <div class="case__details grid">
      <ul>
        <li>2014</li>
        <li>Company website</li>
        <li>Design / Development</li>
      </ul>
      <div class="case__info">
        <button class="toggle" data-toggle-button="info">Info +</button>
        <div class="case__summary" data-toggle-target="info">
          <p>{{{summary}}}</p>
        </div>
      </div>
    </div>
  </header>
  <picture class="case__hero lazyLoader">
    <img class="lazyLoader__image" data-src="{{hero}}" alt="{{headline}}">
  </picture>

  <div class="gallery">
    {{#each content}}
    <picture class="gallery__picture lazyLoader">
      <img class="lazyLoader__image" data-src="{{src}}" alt="{{name}}">
    </picture>
    {{/each}}
  </div>
</article>