<article class="case">
  <header class="case__header">
    <div class="case__info grid">
      <div class="case__headings grid__cell u-isShowOff u-isShowOff--skew" data-show-off="skew">
        <h1 class="case__title grid__heading grid__heading--l">{{name}}</h1>
        <h2 class="case__subtitle grid__heading grid__heading--l">{{{headline}}}</h2>
      </div>
      <div class="case__details grid">
        <ul>
          <li class="u-isShowOff--2 u-isShowOff--slide" data-show-off="slide">
            <div>2014</div>
          </li>
          <li class="u-isShowOff--4 u-isShowOff--slide" data-show-off="slide">
            <div>Design / Development</div>
          </li>
        </ul>
        <div>
          <button class="case__toggle u-isShowOff--5 u-isShowOff--slide" data-show-off="slide" data-toggle-button="info">Info +</button>
          <div class="case__summary" data-toggle-target="info">
            <p>{{{summary}}}</p>
          </div>
        </div>
      </div>
    </div>
    <picture class="case__hero lazyLoader">
      <img class="lazyLoader__image" data-src="{{hero}}" alt="{{headline}}">
    </picture>
  </header>

  <div class="gallery">
    {{#each content}}
    <picture class="gallery__item u-isShowOff u-isShowOff--scale" data-show-off="scale">
      <source media="(min-width: 900px)" srcset="{{src}} 2x, {{srcMd}} 1x">
      <img src="{{srcMd}}" alt="{{name}}">
    </picture>
    {{/each}}
  </div>
  <div class="grid">
    <section class="grid__cell grid__cell--10">
      <h2 class="grid__heading grid__heading--l">Next case</h2>
      <h1>Things I Took</h1>
    </section>
  </div>
</article>