<article class="case">
  <header class="case__header">
    <div class="case__info">
      <div class="case__headings">
        <h1 class="case__title headline headline--inline">{{name}}</h1>
        <h2 class="case__subtitle headline headline--inline">{{{headline}}}</h2>
      </div>
      <div class="case__details">
        <ul>
          <li><div>2014</div></li>
          <li><div>Company website</div></li>
          <li><div>Web design / Development</div></li>
        </ul>
        <div class="case__toggle" id="summary" role="button" aria-pressed="false" tabindex="0" data-toggle-trigger="summary">Info</div>
      </div>
    </div>
    <div class="case__misc">
      <div class="case__summary" aria-labelledby="summary" aria-hidden="true" data-toggle-target="summary">
        <div>{{{summary}}}</div>
      </div>
      <picture class="case__hero lazyLoader">
        <img class="lazyLoader__image" data-src="{{hero}}" alt="{{headline}}">
      </picture>
    </div>
  </header>

  <div class="gallery">
    {{#each content}}
    <picture class="gallery__item" data-reveal="scale">
      <source media="(min-width: 600px)" srcset="{{src}}"> {{!-- 2x, {{srcMd}} 1x --}}
      <img src="{{srcMd}}" alt="{{name}}">
    </picture>
    {{/each}}
  </div>
  <div class="">
    <section class="">
      <h2 class="">Next case</h2>
      <h1>Things I Took</h1>
    </section>
  </div>

  {{> footer}}

</article>