<article class="index">
  <div class="index__column index__column--narrow" data-index-column="1">
    <div>
      <header>
        {{!-- Fade in words with different delays. Ref: https://thecanopy.studio/ --}}
        <h1>David van Ochten</h1>
        <h2>Developer + designer</h2>
      </header>
      <div>
        <ul>
          <li>
            <span>Index</span>
          </li>
          <li>
            <a href="/work">Work</a>
          </li>
          <li>
            <a href="/notes">Notes</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <section>
      <h1>Latest</h1>
      <div class="slider u-mb2" data-slider="notes">
        <div class="slider__container" data-slider="container">
          <ul class="slider__content" data-slider="content">
            {{#each latestNotes}}
            <li class="slider__item" data-slider="item">
              <article class="note">
                <div class="note__thumbnail lazyLoader">
                  <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{headline}}}">
                </div>
                <header class="note__header">
                  <h1 class="note__headline">{{{headline}}}</h1>
                  <p class="note__summary">{{{summary}}}</p>
                </header>
              </article>
            </li>
            {{/each}}
            <li class="slider__item" data-slider="item">
              <h2 class="">{{{notesHeadline}}}</h2>
              <a class="button button--link" href="/notes">
                <span class="button__text">{{notesLink}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      {{!-- Fade in words with different delays. Ref: https://thecanopy.studio/ --}}
      <h1 data-reveal="skew">Let’s <strong>do something awesome</strong> together.</h1>
      <a class="button button--link" href="/contact">
        <span class="button__text">Hit me up</span>
      </a>
    </section>
  </div>

  <div class="index__column index__column--wide" data-index-column="2">
    <section>
      {{!-- Fade in words with different delays. Ref: https://thecanopy.studio/ --}}
      <h1>{{{aboutHeadline}}}</h1>
      <a class="button button--link" href="/profile">
        <span class="button__text">{{aboutLink}}</span>
      </a>
    </section>
    <section>
      <h1>Work</h1>
      <ul>
        {{#each latestCases}}
        <li>
          <article class="card">
            <a class="card__thumbnail card__thumbnail--index lazyLoader" href="/work/{{path}}">
              <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{title}}}">
            </a>
            <header class="card__header">
              <a class="card__link" href="/work/{{path}}">
                <h1 class="card__heading">{{{name}}} +</h1>
              </a>
            </header>
          </article>
        </li>
        {{/each}}
      </ul>
      <a class="button button--link" href="/work">
        <span class="button__text">{{workLink}}</span>
      </a>
    </section>
    <footer>
      <button data-scroller-trigger="top">Scroll top</button>
      <small>© 2018</small>
    </footer>
  </div>
</article>