<article class="grid">
  <div class="grid__column grid__column--narrow" data-grid-column="1">
    <div class="grid" data-toggle-display="trigger">
      <header class="grid__cell grid__cell--6 grid__cell--offset">
        <h1>David van Ochten</h1>
        <h2 class="grid__heading">Developer + designer</h2>
      </header>
      <ul class="grid__cell grid__cell--borderLeft grid__cell--4">
        <li>Index</li>
        <li><a href="/work">Work</a></li>
        <li><a href="/notes">Notes</a></li>
        {{!-- <li><a href="/" target="_blank" data-bypass>Blog</a></li> --}}
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <section class="grid__cell grid__cell--borderTop">
      <h1 class="grid__heading">Latest</h1>

      <div class="slider" data-slider>
        <button class="slider__button slider__button--prev" data-slider="previous"></button>
        <button class="slider__button slider__button--next" data-slider="next"></button>
  
        <ul class="slider__list" data-slider="container">
          {{#each latestNotes}}
          <li class="slider__item" data-slider="item">
            <article class="note">
              <div class="note__thumbnail lazyLoader">
                <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{headline}}}">
              </div>
              <header class="note__header">
                <h1 class="note__headline">{{{headline}}}</h1>
                <p class="note__summary">{{{summary}}}</p>
              </header>
            </article>
          </li>
          {{/each}}
          <li class="slider__item" data-slider="item">
            <h2 class="grid__heading grid__heading--l">{{{notesHeadline}}}</h2>
            <a class="grid__link" href="/notes">{{notesLink}}</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="grid__cell grid__cell--borderTop">
      <h1 class="grid__heading grid__heading--l">Let’s do something awesome together</h1>
      <a class="grid__link" href="/contact">Hit me up</a>
    </section>
  </div>

  <div class="grid__column grid__column--wide grid__cell grid__cell--borderLeft" data-grid-column="2">
    <section class="grid__cell grid__cell--profile">
      <h1 class="grid__heading grid__heading--l">{{{aboutHeadline}}}</h1>
      <a class="grid__link" href="/about">{{aboutLink}}</a>
    </section>
    <section class="grid__cell">
      <h1 class="grid__heading grid__heading--rotated">Work</h1>
      <ul>
        {{#each latestCases}}
        <li>
          <article class="card">
            <a class="card__thumbnail card__thumbnail--index lazyLoader" href="/work/{{path}}">
              <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{title}}}">
            </a>
            <header class="card__header">
              <a class="card__link" href="/work/{{path}}">
                <h1 class="card__heading">{{{name}}}</h1>
              </a>
            </header>
          </article>
        </li>
        {{/each}}
        <li><a class="grid__link" href="/work">{{workLink}}</a></li>
      </ul>
    </section>
  </div>
</article>