<article class="grid">
  {{!-- CHECK OLD WEBSITE FOR PRETTIER CLASSES --}}
  {{!-- E.g. .u-flex .u-pad etc --}}
  {{!-- Implement index specific classes. index__routes / index__columns --}}

  {{!-- Improve that show off stuff --}}
  <div class="grid__column grid__column--narrow" data-grid-column="1">
    <div class="grid" data-toggle-display="trigger">
      <header class="grid__cell grid__cell--6 grid__cell--offset">
        <h1 class="u-isShowOff u-isShowOff--slide" data-show-off="slide">David van Ochten</h1>
        <h2 class="grid__heading u-isShowOff--1 u-isShowOff--slide" data-show-off="slide">Developer + designer</h2>
      </header>
      <div class="grid__cell grid__cell--signage grid__cell--borderLeft grid__cell--4">
        <ul>
          <li class="u-isShowOff--1 u-isShowOff--slide" data-show-off="slide">
            <span>Index</span>
          </li>
          <li class="u-isShowOff--2 u-isShowOff--slide" data-show-off="slide">
            <a href="/work">Work</a>
          </li>
          <li class="u-isShowOff--3 u-isShowOff--slide" data-show-off="slide">
            <a href="/notes">Notes</a>
          </li>
          <li class="u-isShowOff--4 u-isShowOff--slide" data-show-off="slide">
            <a href="/profile">Profile</a>
          </li>
          <li class="u-isShowOff--5 u-isShowOff--slide" data-show-off="slide">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="grid__cell grid__cell--borderTop u-isUnscrollable">
      <h1 class="grid__heading u-isShowOff u-isShowOff--fade" data-show-off="fade">Latest</h1>
      <div class="slider" data-slider>
        <button class="slider__button slider__button--prev" data-slider="previous"></button>
        <button class="slider__button slider__button--next" data-slider="next"></button>
  
        <ul class="slider__list" data-slider="container">
          {{#each latestNotes}}
          <li class="slider__item" data-slider="item">
            <article class="note">
              <div class="note__thumbnail lazyLoader">
                <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{headline}}}">
              </div>
              <header class="note__header">
                <h1 class="note__headline">{{{headline}}}</h1>
                <p class="note__summary">{{{summary}}}</p>
              </header>
            </article>
          </li>
          {{/each}}
          <li class="slider__item" data-slider="item">
            <h2 class="grid__heading grid__heading--l">{{{notesHeadline}}}</h2>
            <a class="button button--link" href="/notes">
              <span class="button__text">{{notesLink}}</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="grid__cell grid__cell--borderTop grid__cell--borderBottom">
      <h1 class="grid__heading grid__heading--l u-isShowOff u-isShowOff--skew" data-show-off="skew">Let’s <strong>do something awesome</strong> together.</h1>
      <a class="button button--link u-isShowOff--5 u-isShowOff--slide" href="/contact" data-show-off="slide">
        <span class="button__text">Hit me up</span>
      </a>
    </section>
  </div>

  <div class="grid__column grid__column--wide" data-grid-column="2">
    <section class="grid__cell grid__cell--profile">
      <h1 class="grid__heading grid__heading--l u-isShowOff--5 u-isShowOff--skew" data-show-off="skew">{{{aboutHeadline}}}</h1>
      <a class="button button--link u-isShowOff--5 u-isShowOff--slide" href="/profile" data-show-off="slide">
        <span class="button__text">{{aboutLink}}</span>
      </a>
    </section>
    <section class="grid__cell grid__cell--work">
      <h1 class="grid__heading grid__heading--rotated u-isShowOff u-isShowOff--fade" data-show-off="fade">Work</h1>
      <ul>
        {{#each latestCases}}
        <li>
          <article class="card">
            <a class="card__thumbnail card__thumbnail--index lazyLoader" href="/work/{{path}}">
              <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{title}}}">
            </a>
            <header class="card__header">
              <a class="card__link" href="/work/{{path}}">
                <h1 class="card__heading">{{{name}}} +</h1>
              </a>
            </header>
          </article>
        </li>
        {{/each}}
      </ul>
      <a class="button button--link" href="/work">
        <span class="button__text">{{workLink}}</span>
      </a>
    </section>
    <footer class="grid__cell grid__cell--borderTop">
      <small>© 2018</small>
      <button data-scroller="top">Scroll top</button>
    </footer>
  </div>
</article>