<article class="index">
  <div class="index__column index__column--narrow" data-index-column="1">
    <div class="u-flex">
      <header class="index__intro">
        {{!-- Fade in words with different delays. Ref: https://thecanopy.studio/ --}}
        <h1>David van Ochten</h1>
        <h2 class="subheading">Developer + designer</h2>
      </header>
      <div class="index__signage">
        <ul data-toggle-trigger="site-header">
          <li>
            {{!-- li mask, span slide fade up sequentially --}}
            <span>Index</span>
          </li>
          <li>
            <a href="/work">Work</a>
          </li>
          <li>
            <a href="/notes">Notes</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <section class="index__notes">
      <header class="u-flex">
        <h1 class="subheading">Latest</h1>
        <div>
          <button data-slider-prev="notes">prev</button>
          <button data-slider-next="notes">next</button>
        </div>
      </header>
      <div class="slider slider--index" data-slider="notes">
        <div class="slider__container" data-slider="container">
          <ul class="slider__content" data-slider="content">
            {{#each latestNotes}}
            <li class="slider__item" data-slider="item">
              <article class="note">
                <div class="note__thumbnail lazyLoader">
                  <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{headline}}}">
                </div>
                <header class="note__header">
                  <h1 class="note__headline">{{{headline}}}</h1>
                  <p class="note__summary">{{{summary}}}</p>
                </header>
              </article>
            </li>
            {{/each}}
            <li class="slider__item" data-slider="item">
              <h2 class="headline">{{{notesHeadline}}}</h2>
              <a class="button button--link" href="/notes">
                <span class="button__text">{{notesLink}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="index__contact">
      {{!-- Fade in words with different delays. Ref: https://thecanopy.studio/ --}}
      <h1 class="headline" data-reveal="skew">Let’s <strong>do something awesome</strong> together.</h1>
      <a class="button button--link" href="/contact">
        <span class="button__text">Hit me up</span>
      </a>
    </section>
  </div>

  <div class="index__column index__column--wide" data-index-column="2">
    <section class="index__profile">
      {{!-- Fade in words with different delays. Ref: https://thecanopy.studio/ --}}
      <h1 class="headline">{{{aboutHeadline}}}</h1>
      <a class="button button--link" href="/profile">
        <span class="button__text">{{aboutLink}}</span>
      </a>
    </section>

    <section class="index__work">
      <h1 class="subheading subheading--rotated">Work</h1>
      <ul>
        {{#each latestCases}}
        <li>
          <article class="card">
            <a class="card__thumbnail card__thumbnail--index lazyLoader" href="/work/{{path}}">
              <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{title}}}">
            </a>
            <header class="card__header">
              <a class="card__link" href="/work/{{path}}">
                <h1 class="card__heading">{{{name}}} +</h1>
              </a>
            </header>
          </article>
        </li>
        {{/each}}
      </ul>
      <a class="button button--link" href="/work">
        <span class="button__text">{{workLink}}</span>
      </a>
    </section>

    {{> footer}}
  </div>
</article>