<article class="project u-flex">
  <div class="project__column" data-toggle="column">
    <div class="project__info">
      <header class="project__header">
        <div class="project__heading">
          <h1 class="project__title headline headline--inline">{{name}}</h1>
          <h2 class="project__subtitle headline headline--inline">{{{headline}}}</h2>
        </div>
        <ul class="project__details u-flex">
          <li>2014</li>
          <li>Design / Development</li>
        </ul>
      </header>
      <div>{{{summary}}}</div>
    </div>

    <a class="project__button project__button--next button button--link" href="/">
      <span class="button__text">Next project</span>
    </a>
  </div>

  <div class="gallery" role="button" aria-label="Open gallery" aria-pressed="false" tabindex="0" data-toggle-trigger="gallery-content" data-gallery="project">
    <div class="gallery__header">
      <picture class="gallery__hero lazyLoader">
        <img class="lazyLoader__image" data-src="{{hero}}" alt="{{headline}}">
      </picture>
      <div class="gallery__indicator">Open gallery +</div>
    </div>

    <div class="gallery__content" aria-hidden="true" data-toggle="gallery-content">
      {{#each content}}
      {{!-- If video etc. --}}
      {{!-- "reveal reveal--fade" data-reveal="fade" --}}
      <picture class="gallery__item">
        <source media="(min-width: 600px)" srcset="{{src}}">
        <img src="{{srcMd}}" alt="{{name}}">
      </picture>
      {{/each}}
    </div>
  </div>
</article>