<h1 style="padding-top: 9rem;">{{title}}</h1>
<ul style="width: 50vw; display: grid;">
  {{#each cases}}
  <li>
    <h2>{{headline}}</h2>
    <a class="lazyLoader" href="/work/{{path}}">
      <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{title}}">
    </a>
  </li>
  {{/each}}
</ul>