<article class="work">
  <header class="work__header">
    <h1 class="headline headline--inline"><strong>Projects</strong></h1>
    <h2 class="headline headline--inline">&nbsp;&mdash;&nbsp;A selection of work from the past couple of years.</h2>
  </header>
  <ul class="work__items">
    {{#each projects}}
    <li class="work__item reveal reveal--slide" data-reveal="slide">
      <article class="card">
        <a class="card__thumbnail lazyLoader" href="/work/{{path}}">
          <img class="lazyLoader__image" data-src="{{thumbnailUrl}}" alt="{{{title}}}">
        </a>
        <header class="card__header">
          <a class="card__link" href="/work/{{path}}">
            <h1 class="card__heading">{{{name}}}</h1>
            <h2 class="card__subtitle">&nbsp;&mdash;&nbsp;{{{headline}}}</h2>
          </a>
        </header>
      </article>
    </li>
    {{/each}}
  </ul>
</article>

{{> footer}}